* {
    background-color: antiquewhite;
    font-family: "Arial", sans-serif;
}

header, nav {
    text-align: center;
}

body {
    margin: 2% 5%;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
}

table th, table td {
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

img, video, audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
}